@media all and (max-width: 850px) {
    .sidebar ul.sidebar-dropdown > li{
        padding-right: 15px;
    }
    .sidebar > div > div{
        padding-right: 40px;
    }
    .sidebar > div [class*="icon-"]{
        right: 10px;
    }
}
@media all and (max-width: 991px) {
    header {
        background-color: #fff;
    }
    .main{
        width: 100% !important;
    }
    .logo-box {
        width: 240px;
    }

    .os-menu{
        display: block;
    }
    .os-menu > div {
        position: relative;
        padding: 0;
        margin: 0;
        height: 45px;
        line-height: 45px;
    }
    .nav-tabs > li > a{
        padding: 10px 5px;
    }
    .content{
        margin-top: 140px;
    }
}
@media all and (max-width: 767px) {
    .content .app-box .app-item{
        min-width: auto;
        max-width: none;
        padding: 0 5px;
    }
    .content .app-box .app-item .app-item-content{
        min-height:220px;
    }
    .content .app-box .app-item .pic{
        padding: 3px;
        min-width:auto;
        max-width:none;
        min-height:auto;
        max-height:none;
    }
    .content .app-box .app-item .pic > div img{
        width:100%;
    }
    .content .app-box .app-item .detail .app-title{
        white-space:normal;
    }
    .content .app-box .app-item .detail .app-title .paragraph-end{
        display: none;
    }
    .content .app-box .app-item .detail .app-any .app-rate{
        display: none;
    }
    .footer .nav li.copyright{
        display: none;
    }
    .footer nav{
        overflow: hidden;
    }
    .rahbod{
        float: none !important;
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .footer{
        position: relative;
        margin-top: 20px;
        clear: both;
    }
    .main,
    .main-inner{
        padding-bottom: 0;
    }
    .tab-content{
        padding: 30px 0;
    }
    .packages-list-container{
        padding:0;
    }
    #packages-list .btn-info{
        margin-top: 15px;
        padding: 5px;
        display: block;
    }
    .os-menu{
        top: 60px;
    }
    .os-menu > div > a [class*="icon-"]{
        margin-right: 0;
        left:50%;
        right:auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .app-carousel .owl-item {
        text-align: center;
    }
    .app-carousel .app-item {
        float: none !important;
    }
    .logo-box {
        width: 200px;
    }
    header ,
    header .logo-box,
    header .mobile-nav,
    header .mobile-nav.nav > li{
        height: 60px;
    }
    header .logo-box img{
        height: 50px;
    }
    .mobile-search form#mobile-search-form{
        height: 60px;
        padding:0;
    }
    .mobile-search .form-group input{
        height: 60px;
        padding: 0 45px;
    }
    .app-like{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 45px;
    }
    .app-inner .app-body > .app-details > .detail{
        padding-left: 35px;
    }
    .content{
        margin-top:110px;
        padding-bottom: 0;
    }
    .app-inner .pic{
        width: 100%;
        float: none;
    }
    .app-inner .app-heading {
        position: relative;
        right: 0;
    }
    .app-inner .app-heading > h2{
        font-size: 1.5em;
    }
    .app-inner .app-body{
        margin-top: 0;
    }
    .header-links{
        width: 100%;
        padding: 0;
        height: 30vh;
        display: table-row;
    }
    .header-links a{
        float: none;
        display: table-cell;
        width: 1%;
        vertical-align: middle;
        text-align: center;
        font-size: 1.4em;
    }
    #login-page .logo-box {
        width: 100%;
    }
    #login-page .login-form{
        width: 100%;
        min-width:auto;
    }
}
@media all and (max-width: 650px) {
    .nav.nav-tabs{
        margin-top: 30px;
    }
}
@media all and (max-width: 400px) {
    header .mobile-nav.nav > li{
        width: 40px;
    }
    .content .app-box .app-carousel{
        text-align: center;
    }
    .content .app-box .app-carousel .app-item{
        float: none;
    }
    .hidden-phone{
        display: none;
    }
}
@media all and (max-width: 330px) {
    .mobile-navbar.navbar{
        width: 250px;
    }
    header .mobile-nav.nav > li{
        width: 40px;
    }
    .content .app-box .app-carousel{
        text-align: center;
    }
    .content .app-box .app-carousel .app-item{
        float: none;
    }
    .hidden-phone{
        display: none;
    }
}

@media all and (min-width: 768px) {
    .footer{
        max-height: 80px !important;
        overflow: hidden !important;
    }
    .sidebar {
        width: 20%;
    }

    .logo-box {
        width: 20%;
    }

    #login-page .logo-box {
        width: 100%;
    }
}

@media all and (min-width: 992px) {
    .navbar ,
    .main{
        width: 80%;
    }
    .app{
        width: 65%;
    }
    .app-like{
        width: 35%;
        padding: 0;
        padding-left: 20px;
    }
    .col-md-offset-1{
        margin-right: 8.33333%;
    }
    .col-md-offset-2{
        margin-right: 16.6667%;
    }
    .col-md-offset-3{
        margin-right: 25%;
    }
}
@media all and (min-width: 1200px) {
}