@media screen and (max-width: 992px) {
    .game-gallery.mini .img-gallery .gallery .games-item .overlay{
        bottom: 50%;
        visibility: visible;
        opacity: 1;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .downloady{
        top: 15px;
        width: 70px;
        left: 10px;
        position: absolute;
        padding: 5px 6px;
    }
    .consumer .hrefs .dashbord{
        margin-top: 30px;
    }
    #panel-menu-trigger {
        margin: 15px;
    }
    .guide-user{
        text-align: left !important;
    }
    .guide-user > * {
        width: auto !important;
        padding: 0 10px;
        position: static !important;
    }
    .consumer .karbar-panel .panel-item #developer-menu{
        padding-bottom: 0;
    }
    .panel-sidebar {
        width: 300px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        overflow-y: auto;
        height: 100%;
        padding: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
    }
    .menu-overlay{
        display: block;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 99;
        overflow: hidden;
        background-color: rgba(0,0,0,0.7);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    body.left-menu-open,
    body.menu-open{
        overflow: hidden !important;
    }
    body.left-menu-open .bg-menu,
    body.menu-open .menu-overlay{
        opacity: 1;
        visibility: visible;
    }
    body.left-menu-open .header .mobail-menu-hide,
    body.menu-open .panel-sidebar{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .nicescroll {
        overflow-y: auto !important;
    }

    .header .hide-menu .list-menu .left-list,
    .header .hide-menu .list-menu .right-list {
        max-height: 100vh !important;
    }
    .header .hide-menu .list-menu .left-list > ul,
    .header .hide-menu .list-menu .right-list > ul {
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 767px) {
    .tri-1,
    .tri-2,
    .user-menu{
        display: none !important;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .media-heading{
        padding-left: 100px;
        padding-right: 0;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .header .hide-menu{
        position: fixed;
        bottom: 0;
        top: 0;
    }
    .header .guide .login-process{
        position: absolute !important;
        left: 15px !important;
    }
    .header .navbar-header .sisen-brand{
        padding: 0;
    }
    .header .navbar-header .sisen-brand img{
        height: 75%;
    }
    .header .navbar-header .sisen-brand h5{
        font-size: 10px;
    }
    .header .guide .guide-user .downloader .download .download-sisen h5{
        font-size: 13px;
    }
    .header .guide .login-proces{
        width: 80%;
    }
    .header .hide-menu{
        width: 100%;
        right: 0;
        top: 0;
        z-index: 20;
    }
    .header .guide .hide-search{
        left: 0;
        width: 100%;

    }
    .header .guide{
        padding-left: 0;
    }
    .header .guide .guide-user .search-user,
    .header .guide .guide-user .user{
        width: 30%;
    }
    .slider{
        height: 190px;
    }
    .slider #mycarousel .owl-theme .item img{
        height: 190px;
    }
    .slider .item .carousel-caption{
        bottom: 10px;
    }
    .buttons .item{
        margin: 0 0 10px 0;
    }
    .buttons .item .item-link{
        line-height: 77px;
    }
    .see .see-all{
        margin: 20px 0;
        padding: 0 30px;
    }
    .game .owl-carousel .owl-controls .owl-nav .owl-next,
    .game .owl-carousel .owl-controls .owl-nav .owl-prev{
        top: 65px;
    }
    .game{
        padding: 10px 0;
    }
    .game .imgs{
        padding-left: 40px;
    }
    .baner{
        margin: 50px 4px;
    }
    .baner .baner-box{
        border: 1px solid #00381d;
        height: auto;
        border-radius: 20px;
    }
    .baner .baner-box .baner-box-to{
        float: none;
        margin: 0;
        width: 100%;
        border-radius: 20px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .photo{
        padding: 10px;
        display: block;
    }
    .baner .baner-box .baner-box-to .baner-item .media .photo .media-img{
        display: block;
    }
    .baner .baner-box .baner-box-to .baner-item .media{
        position: relative;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .texts{
        margin: 0 10px;
        line-height: 22px;
    }
    .baner .baner-box .baner-box-to .details .det-box{
        width: auto;
        margin: 15px;
    }
    .baner .baner-box .baner-box-to{
        height: 100%;
    }
    .baner .baner-box .baner-box-to .details{
        padding: 0 5px;
        bottom: 0;
    }
    .baner .baner-box .baner-box-to .details .det-box .d-load,
    .baner .baner-box .baner-box-to .details .det-box .v-lume,
    .baner .baner-box .baner-box-to .details .det-box .d-loper{
        background-size: 19px;
        width: 19px;
        height: 19px;
        margin-left: 1px;
    }
    .baner .baner-box .baner-box-to .details .det-box .text-box{
        font-size: 11px;
    }
    .footer{
        position: relative;
        overflow: hidden;
    }
    .footer .logo img{
        height: 90px;
    }
    .footer .arm .arm-nahad{
        width: 46%;
    }
    .footer .social .social-il{
        width: 59%;
    }
    .footer .menu-footer{
        width: 33%;
        font-size: 11px;
        padding: 0;
    }
    .footer .menu-footer li{
        padding: 0 10px;
        line-height: 30px;
        float: none;
        border: none;
        text-align: center;
    }
    .user-footer .menu{
        width: 100%;
        margin: 0;
        display: block;
    }
    .user-footer .menu .menu-footer{
        width: 30%;
        margin-top: 20px;
    }
    .user-footer .menu .menu-footer li{
        float: right;
        width: 100%;
        display: block;
    }
    .user-footer .copyright{
        right: 0;
    }
    .header .guide .login-panel{
        left: 0;
        width: 172%;
        top: 65px;
    }
    .register-page .register-container{
        width: 100%;
    }
    .register-page .register-page-to{
        width: 90%;
    }
    .register-page{
        position: relative;
        height: auto;
    }
    .register-footer{
        position: relative;
    }
    .register-page .register-page-to .robat .checkbox-line{
        width: 71%;
    }
    .game-gallery{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 0;
    }
    .game-gallery .img-gallery{
        padding: 0;
        height: auto;
    }
    .game-gallery .img-gallery .gallery .games-item{
        width: 24.5%;
        padding: 5px;
        margin: 10px 0;
    }
    .game-gallery.mini .img-gallery .gallery .games-item{
        width: 49.5%;
    }
    .game-title{
        margin: 50px 0 20px 0;
    }
    .game-images{
        margin: 0 20px;
    }
    .text-p{
        padding: 0 20px;
    }
    .changes .last-change .opinion{
        width: 100%;
    }
    .changes .last-change .opinion .opinion-to .opinion-item .like .like-down a,
    .changes .last-change .opinion .opinion-to .opinion-item .like .like-up a{
        padding: 0 5px;
    }
    .changes .access .rating-container{
        margin-right: 0;
    }
    .changes .access .rating-container .inner{
        padding: 0;
    }
    .changes .access .rating-container .inner .rating{
        margin-right: 0;
        width: 50%;
    }
    .changes .access .rating-container .inner .rating .rating-stars{
        font-size: 8px;
    }
    .changes .access .rating-container .inner .rating .rating-users {
        margin-top: 15px;
    }
    .changes{
        padding: 0 20px;
    }
    .changes .access{
        padding: 0;
        margin-top: 20px;
    }
    .changes .access h5{
        padding-right: 10px;
    }
    .changes .access ul{
        padding-right: 20px;
    }
    .changes .last-change .opinion .opinion-to .opinion-item .like .like-down{
        margin-bottom: 2px;
    }
    .changes .last-change .opinion .opinion-to .opinion-item p{
        margin: 10px 0;
    }
    .changes .last-change .scoring .last{
        line-height: 20px;
    }
    .baner{
        margin-bottom: 25px;
    }
    .changes .access .baner-two .baner-box{
        height: auto;
    }
    .baner .baner-box .baner-box-to .details .det-box{
        margin:0 12px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body {
        padding: 0 15px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .texts{
        line-height: 18px;
        margin: 0 0 10px;
    }
    .media-game .media-game-to .img-media{
        width: 100%;
        display: block;
        padding: 0;
        border-radius: 2px;
        overflow: hidden;
    }
    .media-game .media-game-to .media-b, .media-game .media-game-to .media-b2{
        width: 100%;
    }
    .media-game .media-game-to .media-b{
        margin-top: 15px;
    }
    .media-game .media-game-to .media-dn{
        display: block;
        width: auto;
    }
    .media-game .media-game-to .media-dn .downloady{
        padding: 9px 15px;
    }
    .game-images .father-scroll{
        overflow: hidden;
        width: 100%;
    }
    .game-images .game-images-to{
        width: 100%;
        height: auto;
    }
    .game-images .game-images-to .img-scroll{
        float: none;
    }

}
@media all and (max-width: 450px) {
    .game .is-carousel .games-item .thumb img{
        border-radius: 15px;
    }
}
@media all and (max-width: 360px) {
    .header .mobail-menu-hide,
    .panel-sidebar {
        width: 250px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .texts{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header .navbar-header .sisen-brand{
        padding: 0;
    }
    .header .navbar-header .sisen-brand .visible-sm{
        display: inline-block !important;
        font-size: 13px;
    }
    .header .icons .icon-android h5,
    .header .icons .icon-ios h5,
    .header .icons .lists h5{
        font-size: 13px;
    }
    .header .guide{
        padding: 0;
    }
    .header .guide .guide-user .user{
        left: 0;
        top: 0;
        width: 23%;
    }
    .header .guide .guide-user .search-user{
        width: 23%;
    }
    .header .guide .login-proces{
        width: 75%;
    }
    .header .guide .guide-user .downloader .download .download-sisen h5{
        font-size: 12px;
    }
    .header .guide .hide-search{
        width: 100%;
        left: 0;
        margin-left: 2px;
    }
    .header .guide .hide-search form{
        overflow: hidden;
        height: 49px;
    }
    .header .guide .hide-search form .text-search{
        width: 75%;
    }
    .header .guide .hide-search form .link-svg-search{
        width: 25%;
    }
    .header .guide .hide-search form .link-svg-search .svg-search{
        background-size: 26px;
        width: 26px;
        height: 26px;
    }
    .header .hide-menu{
        right: 40%;
    }
    .buttons .buttons-container{
        padding: 0;
    }
    .buttons .item{
        margin: 0;
    }
    .baner {
        margin: 50px 20px;
    }
    .baner .baner-box .baner-box-to{
        margin: 15px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .photo {
        padding: 10px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .texts{
        line-height: 20px;

    }
    .baner .baner-box .baner-box-to .details .det-box{
        width: 32%;
        margin: 9px 0 10px 0;
    }
    .baner .baner-box .baner-box-to .details .det-box .text-box{
        font-size: 11px;
    }
    .baner .baner-box .baner-box-to .details .det-box .v-lume{
        margin-left: 1px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .votes{
        line-height: 30px;
        width: 26%;
    }
    .footer .arm .arm-nahad{
        width: 19%;
    }
    .footer .social .social-il {
        width: 24%;
    }
    .footer .menu-footer{
        width: 72%;
    }
    .consumer .hrefs .dashbord .dashbord-body .db-to-2{
        display: block;
        float: none;
    }
    .consumer .panel .collapse-one{
        padding: 15px 10px;
    }
    .header .guide .login-panel{
        left: 5px;
        width: 155%;
    }
    .user-footer .menu{
        right: 19%;
    }
    .user-footer .copyright{
        right: 28%;
    }
    .register-page .register-page-to{
        width: 90%;
    }
    .register-page .register-page-to{
        margin: 30px auto 90px auto;
    }
    .game-gallery{
        height: auto;
        position: relative;
        overflow: hidden;
    }
    .game-gallery .img-gallery {
        padding: 0 12px;
        height: auto;
    }
    .game-gallery .img-gallery .gallery .games-item {
        width: 24.5%;
        padding: 10px;
    }
    .media-game .media-game-to{
        padding: 20px 0;
    }
    .media-game .media-game-to .media-dn{
        width: 20%;
    }
    .media-game .media-game-to .media-dn .downloady{
        width: 80%;
        padding: 11px 0;
    }
    .media-game .media-game-to .media-b,
    .media-game .media-game-to .media-b2{
        width: 25%;
    }
    .media-game .media-game-to .img-media{
        width: 27%;
    }
    .changes .last-change .scoring .last{
        line-height: 20px;
    }
    .changes .access .rating-container{
        margin-right: 0;
    }
    .changes .access .rating-container .inner{
        padding: 1em 0;
    }
    .changes .access .rating-container .inner .rating{
        width: 41%;
        margin-right: 9%;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .texts{
        line-height: 18px;
        width: 315px;
        margin: 0 7px;
    }
    .baner .baner-box .baner-box-to .details .det-box{
        margin: 0;
    }
    .media-body, .media-left, .media-right{
        display: block;
    }
    .baner .baner-box .baner-box-to .details{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .baner .baner-box .baner-box-to .details .det-box{
        width: 49%;
        padding-bottom: 5px;
    }
    .changes .last-change .opinion .opinion-to .opinion-item .like .liked{
        margin-bottom: 2px;
    }
    .changes .last-change .opinion .opinion-to .opinion-item p{
        margin: 10px 0;
    }
    .game-images{
        margin: 0 10px;
    }
    .game-images .father-scroll{
        width: 100%;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {
    .header .navbar-header .sisen-brand{
        padding: 0;
    }
    .header .navbar-header .sisen-brand h5{
        font-size: 10px;
    }
    .header .guide{
        padding: 0;
    }
    .header .guide .guide-user .user,
    .header .guide .guide-user .search-user{
        width: 20%;
    }
    .header .guide .guide-user .downloader .download .download-sisen h5{
        font-size: 12px;
        margin: 0;
        line-height: 40px;
        padding-right: 4px;
    }
    .header .guide .hide-search{
        width: 100%;
        left: 5px;
    }
    .header .guide .hide-search form .text-search{
        width: 80%;
    }
    .buttons .buttons-container{
        padding: 0;
    }
    .buttons .item{
        margin: 0 10px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .photo{
        padding: 12px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .texts{
        line-height: 20px;
    }
    .baner .baner-box .baner-box-to .details .det-box{
        margin: 20px 0 12px 0;
        width: 32%;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .votes{
        width: 23%;
        right: 13px;
        line-height: 2;
    }
    .footer .arm .arm-nahad{
        width: 15%;
    }
    .footer .social .social-il {
        width: 19%;
    }
    .footer .menu-footer{
        width: 55%;
    }
    .header .guide .login-panel{
        width: 120%;
        left: 15px;
    }
    .register-page .register-page-to{
        margin: 30px auto 90px auto;
    }
    .game-gallery .img-gallery .gallery .games-item{
        padding: 6px;
    }
    .game-gallery .img-gallery{
        padding: 0;
    }
    .media-game .media-game-to .media-dn{
        width: 20%;
    }
    .media-game .media-game-to .media-dn .downloady{
        width: 70%;
    }
    .media-game .media-game-to .img-media{
        width: 22%;
    }
    .media-game .media-game-to .media-b,
    .media-game .media-game-to .media-b2{
        width: 28%;
    }
    .changes .access .rating-container{
        margin-right: 2em;
    }
    .changes .last-change .scoring .last{
        line-height: 22px;
    }
    .baner .baner-box{
        height: auto;
        overflow: hidden;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .texts{
        line-height: 20px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .votes{
        width: 22%;
    }
    .changes .last-change .opinion .opinion-to .opinion-item .like .like-down a,
    .changes .last-change .opinion .opinion-to .opinion-item .like .like-up a{
        padding: 0 8px;
    }
    .baner{
        margin: 75px 0 0 0;
    }
    .register-page .register-page-to .robat .logo img{
        width: 100%;
        margin: 11px 0;
    }
    .register-page .register-page-to .robat .checkbox-line label {
        margin: 26px 11px;
    }
    .game-images{
        margin: 0 10px;
    }
    .game-images .father-scroll{
        width: 100%;
    }

}

@media (min-width: 1200px){
    .baner .baner-box .baner-box-to .baner-item .media .media-body .texts{
        line-height: 23px;
    }
    .baner .baner-box .baner-box-to .baner-item .media .media-body .votes {
        width: 29%;
        right: 20px;
        bottom: -4px;
    }
}